body {
	background-color:#006699;
	}
h1 {
	text-align: center;
	font-family: forte;
}
h2 {
	text-align: center;
	font-size: 24pt;
	color: #d1d1e0;
}
img {
	display: block; margin: auto;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 7cm;
}
th, td {
	padding: 10px;
	text-align: left;
}
th {
	background-color: #99ccff
}
td {
	background-color: white
}
h2 {
	text-align: center;
	font-size: 24pt
	color: #00cc00;
}
p {
	margin-right: 5cm;
	margin-left: 5cm;
	text-align: justify;
}